<nav class="navbar navbar-expand-xl navbar-light bg-light" >
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li> <a class="nav-link" href="#" (click)="setRecipeView()">Recipes</a></li>
                <li> <a class="nav-link" href="#" (click)="setListView()">Shopping List</a></li>
            </ul>
        </div>
    </div>

        
            <ul class="navbar-nav ">
                
                    <a class="nav-link " href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#"></a>Fetch Data</li>
                    </ul>
                
            </ul>
        
        
    
</nav>